.footer {
    width: 100%;
    max-width: 1024px; /* Ensures responsiveness */
    font-size: 12px;
    margin: 0 auto; /* Centers the footer */
    padding: 20px 0; /* Adds vertical padding */
    box-sizing: border-box; /* Prevents padding from affecting layout */
}

.fLists {
    width: 100%;
    display: flex; /* Arrange child elements in a row */
    justify-content: space-between; /* Add equal space between lists */
    align-items: flex-start; /* Align lists at the top */
    margin-bottom: 50px;
    gap: 20px; /* Adds spacing between the lists */
}

.fList{
    list-style: none;
    padding: 0;
}

.fListItem{
    margin-bottom: 10px;
    color: #003580;
    cursor: pointer;
}